

* {
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.header-ankers {
  flex: 1;
  background-color: transparent;
  color: #fff;
  border: 1px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.header-ankers:hover,
.header-ankers:focus {
  background-color: #fff;
  color: #333;
}
.header-size{
  height: 100vh;
}

.top-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  height: 35vh;
  
}
.top{
  display: flex;
  justify-content: center;

}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 999;

}
#top-p{
  color: #f09206;
  font-size: 20pt;
  padding: 2em;
}
body {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(/img/5053309.jpg);
  background-repeat: repeat-y;


}
main{
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    min-height: 100vh;
}



ul {
  text-decoration: none;
  list-style-type: none;

}

#card.flipped {
  transform: rotateY(180deg);
}




.bord-rad{
  border-radius: 50%;
}

.face {
  height: 50px;
  padding-top: 20px;
  color: #fff;

}

.looper {

  border: gray solid 1px;

  
}

.looper:hover {
  animation: perspect 4s infinite linear
}

@keyframes perspect {
  0% {
    transform: perspective(300px) rotateY(0deg)
  }

  25% {
    transform: perspective(300px) rotateY(90deg)
  }

  50% {
    transform: perspective(300px) rotateY(180deg)
  }

  75% {
    transform: perspective(300px) rotateY(270deg)
  }

  100% {
    transform: perspective(300px) rotateY(360deg)
  }
}

.wrap:hover .p1:before,
.wrap:hover .p2:before,
.wrap:hover .p3:before {
  width: 100%;
}

.p1,
.p2,
.p3 {
  color: #fff;
  letter-spacing: 0.1em;
  position: relative;
}

.p1:before,
.p2:before,
.p3:before {
  position: absolute;
  width: 0%;
  overflow: hidden;
  filter: drop-shadow(5px 5px 5px hsla(0, 0%, 0%, 0.3));
}

.p1:before {
  content: "A";
  color: orange;
  -webkit-text-stroke-width: 2px;
  text-stroke-width: 2px;
  -webkit-text-stroke-color: salmon;
  text-stroke-color: salmon;
  transition: 1s;
  font-size: 30pt;
}

.p2:before {
  content: "D";
  color: orange;
  -webkit-text-stroke-width: 2px;
  text-stroke-width: 2px;
  -webkit-text-stroke-color: salmon;
  text-stroke-color: salmon;
  transition: 1s;
}

.p3:before {
  content: "P";
  color: salmon;
  -webkit-text-stroke-width: 2px;
  text-stroke-width: 2px;
  -webkit-text-stroke-color: salmon;
  text-stroke-color: salmon;
  transition: 1s;
}

.lead {
  color: orange;
  background-color: black;
  border: 1px solid grey;


}

.album {
  width: 100%;
  list-style-type: none;
  border: orange solid 1px;
  width: 80vw;
  padding: 10rem;
}
.links {
  display:flex;
  width: 100%;
  height: 100%;
}
.padding{
  padding-right: 1rem;
  padding-top: 2rem;
}
.list-width{
  
  width: 70%;
  padding-top: 2rem;
}
.container {
  border-radius: 5px;
  background-color: orange;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (min-width: 857px) and (max-width: 1300px) {
  .links {
    display: flex;
    flex-direction: column;
  }
  .lead {
    width: 72%;
  }
}
@media (max-width: 856px) {
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .looper {
    visibility: hidden;
    
  }
  .album {
    width: 100%;
    list-style-type: none;
    width: 80vw;
  }
  
  footer {
   visibility: hidden;
  }
}

@media screen and (max-width: 600px) {

  column,
  input[type=submit] {
    width: 100%;
    margin-top: 0;

    display: flex;
    flex-direction: column;
  }
}

/* SerachLeiste------------------https://www.w3schools.com/howto/howto_css_animated_search.asp
 */
input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}